[submodule "external/seL4"]
	path = external/seL4
	url = https://github.com/seL4/seL4.git
[submodule "external/sel4runtime"]
	path = external/sel4runtime
	url = https://github.com/seL4/sel4runtime.git
