set timeout=0
set default=0

menuentry "FacetOS" {
    multiboot2 /boot/kernel.elf
    module2 /boot/dominit0 dominit0
    module2 /boot/dominit dominit
    module2 /boot/facet.toml facet.toml
    module2 /boot/dominit0.initrd dominit0.initrd
    module2 /boot/system.initrd system.initrd
    module2 /boot/child.initrd child.initrd
    boot
}
